<form id="new-todo-frm">
  <div class="form-group">
    <label>Title</label>
    {{input type="text" class="form-control" value=title placeholder="Add Title"}}
  </div>
  <div class="form-group">
    <label>Due Date</label>
    {{input type="date" class="form-control" value=date}}
  </div>
  <div class="form-group">
    <label>Description</label>
    {{textarea class="form-control" value=body placeholder="Add Description"}}
  </div>
  <button {{action 'addTodo'}} class="btn btn-primary">Save</button>
  {{#link-to 'todos' class="btn btn-default"}}Close{{/link-to}}
</form>
